body{
    background-image: url(./image/thumb-1920-82262.jpg);
    color:whitesmoke;
    


}
ul{
    margin-left: 20%;
    margin-top: 250px;
    font-size: 80px;
    display: flex;

}
ul li{
    list-style: none;

}
 ul:hover li{
        animation: ani 6s linear forwards;}
        

@keyframes ani{
    0%{
        transform: translate(0,0) rotate(0deg);
    }
    100%{
        transform: translate(300px,400px) rotate(120deg);
        opacity: 0;
        filter: blur(10px);
    
    }
}
ul li:nth-child(1){
    animation-delay: 0s;
    
}
ul li:nth-child(2){
    animation-delay: 1s;
}
ul li:nth-child(3){
    animation-delay: 2s;
}
ul li:nth-child(4){
    animation-delay: 3s;
}
ul li:nth-child(5){
    animation-delay: 4s;
}
ul li:nth-child(6){
    animation-delay: 5s;
}ul li:nth-child(7){
    animation-delay: 6s;
}ul li:nth-child(8){
    animation-delay: 7s;
}ul li:nth-child(9){
    animation-delay: 8s;
}ul li:nth-child(10){
    animation-delay: 9s;
}ul li:nth-child(11){
    animation-delay: 10s;
}ul li:nth-child(12){
    animation-delay: 11s;
}ul li:nth-child(13){
    animation-delay: 12s;
}ul li:nth-child(14){
    animation-delay: 13s;
}ul li:nth-child(15){
    animation-delay: 14s;
}ul li:nth-child(16){
    animation-delay: 15s;
}ul li:nth-child(17){
    animation-delay: 16s;
}